@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.font{
	
	margin: 0;
	padding: 0;
	font-family: 'Bangers', cursive;
	font-size: 20px;
}
body{
	 
     background-image: url(back-ground.jpg);
    /* fallback for old browsers */
height: 100%;
   background-color: #cccccc;
	
}
header{
	position: relative;
	max-width: 1200px;
	margin: 20px auto;
	padding: 10px;
	background: #83898B;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo{
	color: #031E25;
	height: 60px;
	font-size:36px;
	line-height: 60px;
	padding: 0 20px;

	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: 700;
	text-decoration: none;
}
nav{
	float: right;
}
.clearfix{
	clear: both;
}
nav ul{
	margin: 1px;
	padding: 0.5px;
	display: flex;
}
nav ul li{
	list-style: none;
}

nav ul li a{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
	background: #069370;
	color: #000;
	transition: 0.5s;
}
@media (max-width:768px)
{

.menu-toggle
{
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px;
	
	float: right;
	cursor: pointer;
	text-align:center;
	font-size: 30px;
	color: #069370;

}
.menu-toggle:before
{
	content: '\f0c9';
	font-family: fontAwesome;
	line-height: 40px;
}
.menu-toggle.active:before
{
	content: '\f00d';	
}
nav
{
background-color: #fff;
}
nav.active{
	display: block;
	width:100%;
}
nav.active ul{
	display: block;
}
nav.active ul li a{
	margin: 0.#5px;
}
}


.intro {
	position: absolute;
	left: 35%;
	right:25%;
	top: 35%;
	 /* regular */
opacity:1; /* Transparent Background 50% */ 
font-family: 'Bebas Neue', cursive;
font-size: 20px;
font-weight: 1000;
color: #fff;
}






.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
   position: absolute;
  left: 25%;
  right: 35%;
  top: 120%;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}





@import url('https://fonts.googleapis.com/css?family=Coiny');

#buttons
 { 
	position: absolute;
	top:45%;
	left: 35%;
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center
}

.btn {
  display: inline-block;

  color: white;
  background-color: transparent;
  border: none;  
  cursor: pointer;
  z-index: 0;
  padding: 0;
  margin-right: 16px;
}

.btn:focus {
  outline-color: transparent;
}


/* btn-blow */
.btn-blow::after {
  content: "";
  width: 120px;
  height: 120px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  opacity: 0;
  z-index: -4;
  transition-duration: .4s;
  pointer-events: none;
}

.btn-blow:focus::after {
  opacity: 1;
  transform: scale(1);
}
.btn-blow:focus:hover::after {
  transform: scale(1.2);
}

.btn-blow {
  width: 100px;
  height: 100px;  
}

.btn-blow * {
  pointer-events: none;
}

.btn-blow span {
  position: relative;
  overflow: hidden;
  display: flex;
  left:-50px;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  transition: transform .4s, border-radius .4s;  
  font-family: 'Coiny', cursive;
  transition-timing-function: cubic-bezier(.5,2.4,.7,.5);
}
.btn-blow span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
  background-image: radial-gradient(circle, #ff69b4 0%, #e23a8e 30%, #e23a8e 100%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  z-index: -1;  
  border-radius: 0;
  transition: all .4s;
  
}
.btn-blow:hover span {
  transform: scale(1.3);
  transition: transform .8s, border-radius .4s;  
  border-radius: 50%;  
}
.btn-blow:hover span::before {
  transition: background-size .8s, border-radius .4s; 
  border-radius: 50%;
  background-size: 120% 120%;
}






@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.heading{
	font-family: 'Anton', sans-serif;
	position: absolute;
	left: 35%;
}










.bordering{


	position:absolute;
	left:30%;
	top: 45%;
	border-radius: 15px 30px 45px;
	border-width: 40px;  
box-sizing: border-box;
  width: 700px;
  height: 200px;
  padding: 30px;  
 
}



.heading{
	font-family: 'Staatliches', cursive;
	font-size:40px;
	color:#fff;
}








.footer{
	font-family: 'Staatliches', cursive;
	position: absolute;
	left: 85%;
	right:0%;
	color:#fff;	
}